- input_field f, :name
- if record.type != 'Record'
  - input_field f, :type, :text, readonly: :readonly
- else
  - select_box f, :type, record_types
- input_field f, :ttl
- input_field f, :prio
- input_check_box f, :disabled, false
- if record.type != 'Record' && lookup_context.exists?("form_#{record.type}", lookup_context.prefixes, true)
  = render "form_#{record.type}", f: f
- else
  - input_field f, :content
- submit_button f, :success
