
= form_for [@domain, @record], as: :record, url: domain_record_path(@domain, @record), html: { class: 'form-horizontal', role: 'form' } do |f|
  = render 'form', record: @record, domain: @domain, f: f
